{# Estilos base de correo (port 1:1 de `emails/trans/styles/basic.blade.php`). #}
<style type="text/css">
    .MsoNormal {
        margin: 0;
    }

    .brand-font {
        font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    }

    .primary-color {
        color: #123C6A;
    }

    .secondary-color {
        color: #5698C8;
    }

    table {
        margin: 0;
        padding: 0;
    }

    .table-info {
        border-collapse: collapse;
        width: 100%;
        max-width: 600px;
    }

    .table-info td {
        border: none;
        vertical-align: top;
        text-align: right;
        padding: 2px 2px 4px 4px;
    }

    .table-info tr td:first-child {
        width: 20%;
        text-align: left;
        font-weight: bold;
    }

    .table-info tr:nth-child(even) {
        background-color: #f5f5f5;
    }

    .table-documents {
        word-break: break-word;
        border-collapse: collapse;
        width: 100%;
        max-width: 600px;
        margin-left: -.25pt;
    }

    .table-documents tbody tr:first-child {
        font-weight: bold;
    }

    .table-documents tr td:first-child {
        width: 20%;
    }

    .table-documents td {
        width: 25%;
    }

    .table-documents td,
    .table-documents th {
        border: none;
        vertical-align: top;
        text-align: center;
        padding: 2px 2px 4px 4px;
    }

    .table-documents tr:nth-child(even) {
        background-color: #f5f5f5;
    }

    .table-detail {
        word-break: break-word;
        border-collapse: collapse;
        width: 100%;
        max-width: 600px;
        margin-left: -.25pt;
    }

    .table-detail tbody tr:first-child {
        font-weight: bold;
    }

    .table-detail tr td:first-child {
        width: 20%;
    }

    .table-detail td {
        width: 25%;
    }

    .table-detail td,
    .table-detail th {
        border: none;
        vertical-align: top;
        text-align: center;
        padding: 2px 2px 4px 4px;
    }

    .table-detail tr:nth-child(even) {
        background-color: #f5f5f5;
    }

    .table-annex {
        border-collapse: collapse;
        width: 100%;
        max-width: 600px;
    }

    .table-annex td {
        border: none;
        vertical-align: top;
        text-align: right;
        padding: 2px 2px 4px 4px;
    }

    .table-annex tr td:first-child {
        width: 50%;
        text-align: left;
        font-weight: bold;
    }

    .table-annex tr:nth-child(even) {
        background-color: #f5f5f5;
    }
</style>
